.header-title {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: #2ebac1;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
.logo-img {
  display: block;
  height: 156px;
  width: 121px;
  margin: 60px auto 27px auto;
}
.field {
  display: flex;
  flex-direction: column;
}
.field-label {
  align-items: flex-start;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.field-input {
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #e7ecf3;
  padding: 20px;
  transition: all 0.4s linear;
  border: 0px solid transparent;
}
.field-input:focus {
  background-color: transparent;
  border-color: none;
  border: 1px solid #2ebac1;
}
.control {
  display: flex;
  position: relative;
}
.hide-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  display: block;
  right: 2%;
  bottom: 44%;
}
.unhide-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  display: block;
  right: 2%;
  bottom: 44%;
}
.display-none {
  display: none;
}
.button-signup {
  height: 60px;
  width: 100%;
  background: linear-gradient(107.61deg, #00a7b4 15.59%, #a4d96c 87.25%);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  border: transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:visited {
    border: 1px solid transparent;
  }
}
.error-text {
  color: red;
}
.logo-home {
  display: block;

  height: 45px;
}
.navigate-header {
  display: inline-block;
}
.header-left {
  display: flex;
  align-items: center;
}
.navigate-header a {
  display: inline-block;
  margin-left: 40px;
  line-height: 27px;
  font-weight: 500;
}
.wrapper-header {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.wrapper-header input {
  padding: 18px 21px;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  width: 320px;
  height: 56px;
}
.wrapper-header input::placeholder {
  color: #999999;
  font-weight: 400;
}
.header-right {
  display: flex;
  align-items: center;
}
.search-icon {
  padding-left: 10px;
}
.search-icon svg {
  margin-left: 10px;
  width: 40px;
  height: 100%;
  position: absolute;
  right: 4%;
  bottom: -2%;
  cursor: pointer;
  color: #999;
  padding: 10px;
}

.button-signuphome {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  padding: 15px 62px;
  background: linear-gradient(107.61deg, #00a7b4 15.59%, #a4d96c 87.25%);
  border: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.text-signup {
  text-align: center;
  margin-top: 30px;
}
.text-signup span {
  color: #00b4aa;
  cursor: pointer;
}
.search {
  position: relative;
  margin-right: 10px;
}
.user-header span {
  color: #00a7b4;
  font-weight: bold;
}
.banner-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  color: white;
  background: linear-gradient(155deg, #00b4aa 6.67%, #a4d96c 84.1%);
  height: 520px;
}
.button-banner {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 100px;
  height: 50px;
  width: 230px;
  height: 59px;
  padding: 16px 43px;
  border: transparent;
  border-radius: 15px;
  margin-top: 48px;
  margin-bottom: 101px;
  color: #00b4aa;
  font-weight: 600;
}
.content-banner {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-banner {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  margin-top: 112px;
  margin-bottom: 28px;
}
.content-banner span {
  max-width: 420px;
  line-height: 28px;
  min-height: 112px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.image-banner {
  width: 520px;
  height: 430px;
  display: block;
  object-fit: cover;
}
.author {
  margin: 0 9px;
  z-index: 2;
}
.wrap {
  &-fea {
  }
}
.header {
  &-fea {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #3a1097;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 15px;
  }
}
.gird {
  &-fea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 49px;
  }
}
.item {
  &-fea {
    position: relative;
    color: white;
    height: 272px;
    width: 360px;
    background-image: url(../../public/banlamviec1.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    mix-blend-mode: color;
    opacity: 0.6;
    border-radius: 15px;
  }
}
// .item-fea::before{
//   content: "";
//   position: absolute;
//   left: 0; right: 0;
//   top: 0; bottom: 0;
//   background: rgba(0,0,0,.5);
//   border-radius: 15px;

// }
.button {
  &-fea {
    color: #6b6b6b;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-left: 26px;
    background: #f3edff;
    border-radius: 10px;
    width: 90px;
    height: 28px;
    text-align: center;
    z-index: 2;
  }
}
.day {
  &-fea {
    z-index: 2;
  }
}
.title-item {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  margin-left: 26px;
}
.wapper-author {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.layout {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  border-radius: 15px;
}
.date {
}
.author {
}
.new {
  &-wrap {
    display: flex;
    justify-content: center;
    column-gap: 40px;
  }
  &-contentleft {
    width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &-contentright {
    width: 50%;
  }
}
.button {
  &-new {
    margin-bottom: 14px;
  }
  &-newright {
  }
}
.title {
  &-new {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;

    color: #232323;
  }
  &-new-right {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #232323;
  }
}
.date {
  &-author {
  }
}
.grid {
  &-content {
    background: #f3edff;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    padding: 19px 30px 0 28px;
    height: 188px;
  }
}
.contentnew {
  &-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
.titleheader-new {
  margin-top: 58px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #3a1097;
}
.new-contentleftimg {
  display: block;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}
.grid-itemimg {
  border-radius: 10px;
  display: block;
  height: 130px;
  width: 180px;
  object-fit: cover;
  margin-bottom: 30px;
}
.date-author {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  text-align: right;
  letter-spacing: 0.005em;

  /* Grayscale/2 */

  color: #6b6b6b;
}
.grid-contentbot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin-top: 50px;
}
.contentbot-itemimg {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.catelogy {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  background-color: white;
  border-radius: 10px;
  width: 90px;
  height: 28px;
  text-align: center;
  z-index: 2;
}
.catelogy2 {
  color: #6b6b6b;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  background: #f3edff;
  border-radius: 10px;
  width: 90px;
  height: 28px;
  text-align: center;
  z-index: 2;
}
.contentbot-item {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.title-contentbot {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
